button {
  width: 100%;
  padding: 10px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  font-size: 1rem;
  cursor: pointer;
  margin-top: 24px;
}
button:hover {
  background-color: #83bfff;
}

.form-group button:hover {
  background-color: #0056b3;
}

.bus-details {
  margin-top: 30px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 20px;
}

.bus-card {
  display: flex;
  background: #fff;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.bus-image {
  width: 150px;
  height: 150px;
  object-fit: cover;
}

.bus-info {
  padding: 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.bus-info h3 {
  font-size: 1.5rem;
  color: #333;
  margin: 0;
}

.bus-info p {
  font-size: 1rem;
  color: #777;
}

.rating {
  font-size: 1rem;
  color: #f39c12;
  display: flex;
  align-items: center;
  gap: 10px;
}

.price {
  font-size: 1.2rem;
  font-weight: bold;
  color: #007bff;
}
